/* app.css 修正版 */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  /*  background-color: #ADD8E6;*/
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    overflow: hidden; /* ← スクロールを防止 */
}

[data-amplify-authenticator] [data-amplify-container] {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* フォームの横幅を固定＋画面幅に応じて縮小 */
[data-amplify-authenticator] [data-amplify-router-content] {
  width: 520px;         
  max-width: 92vw;      
}

.main-center { /* 更新中画面専用クラス */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

  /* main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  } */
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
  }
  button:hover {
    border-color: lightgreen;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    border: 1px solid black;
    gap: 1px;
    background-color: black;
    border-radius: 8px;
    overflow: auto;
  }
  
  li {
    background-color: white;
    padding: 8px;
  }
  
  li:hover {
    background: #dadbf9;
  }
  
  a {
    font-weight: 800;
    text-decoration: none;
  }

  /*
  .amplify-button--primary {
  background: linear-gradient(
    to right,
    var(--amplify-colors-green-80),
    var(--amplify-colors-blue-40)
  );
}
*/

.amplify-button--primary {
  background: #007BFF
   
}

